Source: percona-xtradb-cluster-5.5
Section: database
Priority: extra
Maintainer: Debian MySQL Maintainers <pkg-mysql-maint@lists.alioth.debian.org>
Uploaders: James Page <jamespage@debian.org>
Build-Depends:
 autoconf,
 automake,
 bison,
 cmake,
 debhelper (>= 7.0.50),
 devscripts,
 fakeroot,
 libaio-dev,
 libncurses5-dev,
 libpam-dev,
 libssl-dev,
 libtool,
 perl
Standards-Version: 3.9.5
Homepage: http://www.percona.com/software/percona-xtradb-cluster/
Vcs-Git: git://git.debian.org/git/pkg-mysql/percona-xtradb-cluster-5.5.git
Vcs-Browser: http://git.debian.org/?p=pkg-mysql/percona-xtradb-cluster-5.5.git

Package: percona-xtradb-cluster-common-5.5
Architecture: all
Depends: mysql-common, ${misc:Depends}
Multi-Arch: foreign
Description: Percona Server database common files
 Percona XtraDB Cluster is based on the Percona Server database
 server and provides a High Availability solution.
 .
 Percona XtraDB Cluster provides synchronous replication, supports
 multi-master replication, parallel applying on slaves, automatic
 node provisioning with primary focus on data consistency.
 .
 This package includes files needed by all versions of the client library
 (e.g. /etc/mysql/my.cnf).

Package: percona-xtradb-cluster-test-5.5
Architecture: all
Depends:
 ${misc:Depends},
 percona-xtradb-cluster-client-5.5 (>= ${source:Version}),
 percona-xtradb-cluster-server-5.5 (>= ${source:Version})
Conflicts: mysql-testsuite-5.5, mariadb-test-5.5
Breaks: mysql-testsuite-5.5, mariadb-test-5.5
Replaces: mysql-testsuite-5.5, mariadb-test-5.5
Description: Percona Server database test suite
 Percona XtraDB Cluster is based on the Percona Server database
 server and provides a High Availability solution.
 .
 Percona XtraDB Cluster provides synchronous replication, supports
 multi-master replication, parallel applying on slaves, automatic
 node provisioning with primary focus on data consistency.
 .
 This package includes the Percona XtraDB Cluster test framework that provides
 a means for verifying that Percona XtraDB Cluster and its client programs
 operate according to expectations

Package: percona-xtradb-cluster-test
Architecture: all
Depends: percona-xtradb-cluster-test-5.5 (>= ${source:Version}), ${misc:Depends}
Breaks: mysql-test, mariadb-test
Replaces: mysql-test, mariadb-test
Description: Percona XtraDB Cluster database regression test suite (metapackage for the latest version)
 This is an empty package that depends on the current "best" version of
 percona-xtradb-cluster-test, as determined by the Percona XtraDB Cluster
 maintainers.  Install this package if in doubt about which version
 you want, as this is the one considered to be in the best shape.

Package: percona-xtradb-cluster-client-5.5
Architecture: any
Depends:
 debianutils (>=1.6),
 libdbi-perl,
 libmysqlclient18,
 percona-xtradb-cluster-common-5.5 (>= ${source:Version}),
 ${misc:Depends},
 ${shlib:Depends}
Conflicts: mysql-client-5.5, mariadb-client-5.5
Breaks: mysql-client-5.5, mariadb-client-5.5
Replaces: mysql-client-5.5, mariadb-client-5.5
Provides: virtual-mysql-client
Description: Percona Server database client binaries
 Percona XtraDB Cluster is based on the Percona Server database
 server and provides a High Availability solution.
 .
 Percona XtraDB Cluster provides synchronous replication, supports
 multi-master replication, parallel applying on slaves, automatic
 node provisioning with primary focus on data consistency.
 .
 This package includes the client binaries and the additional tools
 innotop and mysqlreport.

Package: percona-xtradb-cluster-client
Architecture: all
Depends: percona-xtradb-cluster-client-5.5 (>= ${source:Version}), ${misc:Depends}
Breaks: mysql-client, mariadb-client
Replaces: mysql-client, mariadb-client
Description: Percona XtraDB Cluster database client (metapackage depending on the latest version)
 This is an empty package that depends on the current "best" version of
 percona-xtradb-cluster-client, as determined by the Percona XtraDB Cluster
 maintainers.  Install this package if in doubt about which version
 you want, as this is the one considered to be in the best shape.

Package: percona-xtradb-cluster-server-5.5
Architecture: any
Suggests: netcat-openbsd, pv, qpress, tinyca
Depends:
 adduser (>= 3.40),
 debconf,
 iproute,
 libdbd-mysql-perl,
 libdbi-perl,
 lsb-base (>= 3.0-10),
 passwd,
 percona-xtrabackup (>= 2.1.4),
 percona-xtradb-cluster-client-5.5 (>= ${source:Version}),
 percona-xtradb-cluster-common-5.5 (>= ${source:Version}),
 percona-xtradb-cluster-galera-25,
 perl (>= 5.6),
 psmisc,
 rsync,
 socat,
 tar,
 ${misc:Depends},
 ${shlibs:Depends}
Conflicts: mysql-server-core-5.5, mariadb-server-core-5.5
Breaks: mysql-server-5.5, mariadb-server-5.5
Replaces: mysql-server-5.5, mariadb-server-5.5
Provides: virtual-mysql-server
Description: Percona Server database server binaries
 Percona XtraDB Cluster is based on the Percona Server database
 server and provides a High Availability solution.
 .
 Percona XtraDB Cluster provides synchronous replication, supports
 multi-master replication, parallel applying on slaves, automatic
 node provisioning with primary focus on data consistency.
 .
 This package includes the server binaries.

Package: percona-xtradb-cluster-server
Architecture: all
Depends: percona-xtradb-cluster-server-5.5 (>= ${source:Version}), ${misc:Depends}
Breaks: mysql-server, mariadb-server
Replaces: mysql-server, mariadb-server
Description: Percona XtraDB Cluster database server (metapackage depending on the latest version)
 This is an empty package that depends on the current "best" version of
 percona-xtradb-cluster-server, as determined by the Percona XtraDB Cluster
 maintainers.  Install this package if in doubt about which version
 you want, as this is the one considered to be in the best shape.

Package: percona-xtradb-cluster-5.5-dbg
Architecture: any
Section: debug
Depends:
 percona-xtradb-cluster-server-5.5 (= ${binary:Version}),
 ${misc:Depends}
Description: Debugging package for Percona XtraDB Cluster
 Percona XtraDB Cluster is based on the Percona Server database
 server and provides a High Availability solution.
 .
 Percona XtraDB Cluster provides synchronous replication, supports
 multi-master replication, parallel applying on slaves, automatic
 node provisioning with primary focus on data consistency.
 .
 This package contains the debugging symbols for the Percona XtraDB
 Cluster binaries.
